Assets/Model/GoogleNews-vectors-negative300.bin
Assets/Model/voice_command_word2vec.model.syn1neg.npy
Assets/Model/voice_command_word2vec.model.wv.vectors.npy
Assets/Model/voice_command_word2vec.model
